.DS_Store
.env
.env.backup
.env.cypress
.env.testing
.phpunit.result.cache
/.idea
/.vagrant
/.vscode
/lib
/node_modules
/vendor
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
scratch.md
yarn-error.log
